[Desktop Entry]
Name=xpdf-poppler
GenericName=PDF viewer
Comment=View PDF files
Exec=xpdf-poppler
Icon=xpdf
Terminal=false
Type=Application
MimeType=application/pdf;
Categories=Viewer;Graphics;
