Source: xpdf
Section: text
Priority: optional
Maintainer: Michael Gilbert <michael.s.gilbert@gmail.com>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 7.0.50~), pkg-config, libx11-dev, lesstif2-dev, libpoppler-dev (>= 0.12.4)
Homepage: http://www.foolabs.com/xpdf/

Package: xpdf
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: xpdf-reader (<< 3.02-3), xpdf-common (<< 3.02-3)
Recommends: poppler-utils
Provides: pdf-viewer, postscript-preview, xpdf-reader, xpdf-common
Description: Portable Document Format (PDF) suite
 xpdf is a suite of tools for Portable Document Format (PDF) files. (These are
 sometimes called 'Acrobat' files after the name of Adobe's PDF software.)
 .
 The tools include xpdf, a PDF viewer (in the package xpdf-reader),
 and PDF converters (including to/from PostScript) (in the package
 xpdf-utils).
